@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primary-bg: #2c3639;
$secondary-bg: #3f4e4f;
// $accent: #a27b5c;
$accent: #e1ab80;
$muted-neutral: #dcd7c9;
$white: #ffffff;
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: $primary-bg;
}

::-webkit-scrollbar-thumb {
  background: $accent;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  // display: grid;
  // grid-template-columns: 1fr 3fr;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}
.row {
  display: flex;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
}
.col-3 {
  // height: 100%;
  // height: 100px;
  // background-color: red;
  width: 25%;
}

.col-9 {
  // height: 100%;
  // height: 100px;
  // background-color: palevioletred;
  width: 75%;
}

@media screen and (max-width: 560px) {
  /* For mobile phones: */
  [class*='col-'] {
    width: 100%;
  }
}
.sidebar {
  // position: sticky !important;
  // height: calc(100vh - 48px);
  // height: calc(100vh);
  // overflow-x: hidden;
  // overflow-y: auto;
  height: 100%;
  // width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $primary-bg;
  text-align: center;

  .user-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    &:hover {
      transition: 200ms ease-in;
      border: 8px solid $accent;
    }
  }
  h1 {
    margin-bottom: 1rem;
  }
  code {
    background-color: $secondary-bg;
    // background-color: $muted-neutral;
    padding: 0.5rem;
    border-radius: 4px;
    color: $accent;
  }
  .social {
    margin-top: 2rem;

    a {
      padding: 0.61rem;
      width: 20px;
      height: 20px;
      background-color: $secondary-bg;
      margin-top: 2rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      i {
        // vertical-align: bottom;
        color: $muted-neutral;
        width: 20px;
        height: 20px;
        font-size: 1rem;
      }
      &:hover {
        background-color: $muted-neutral;
        transition: 200ms ease-in;
        i {
          color: $accent;
          transition: 200ms ease-in;
        }
      }
    }
  }
}
.content {
  margin-left: 25%;
  background-color: $secondary-bg;

  min-height: 100vh;
}
section {
  // min-height: 95vh;
  margin: 4rem 2rem;
}
.project-container {
  .row {
    // display:;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    // flex-wrap: wrap;
    // gap: 12px;
    .col-6 {
      width: 100%;
    }
    #project-card {
      border-radius: 4px;
      margin: 0.52rem auto;
      // padding: 2rem auto;
      background-color: $primary-bg;
      .card-body {
        padding: 1rem 0.5rem;
        h3 {
          margin-bottom: 0.5rem;
        }
        p {
          margin-bottom: 0.5rem;
          font-size: 0.9rem;
          color: #dcd7c9;
        }
        .card-text {
          // mar
        }
        a {
          text-decoration: none;
          display: inline-block;
          // background-color: #dcd7c9;
          // color: #a27b5c;
          color: $accent;
        }
      }
    }
  }
}
section {
  h1 {
    margin-bottom: 1.5rem;
    display: inline-flex;
    position: relative;

    &::after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: $accent;
      position: absolute;
      margin-top: 2rem;
    }
  }
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.btn-primary {
  background: $accent;
  color: $white;
}
#about {
  a.btn {
    margin-top: 2rem;
  }
  p {
    line-height: 1.5;
    margin-bottom: 0.75rem;
  }
}
#skills {
  ul {
    margin-top: 1.52rem;
  }
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    list-style: none;
  }
  li::before {
    content: '▹';
    position: absolute;
    left: 0px;
    color: $accent;
    font-size: 25px;
    line-height: 19px;
  }
}

@media screen and (max-width: 560px) {
  .row {
    flex-direction: column;
    .sidebar {
      height: 75vh;
      position: relative;
    }
    .content {
      margin-left: 0;
      // position: relative;
    }
  }
  .project-container {
    .row {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (min-width: 560px) and (max-width: 990px) {
  a.soc {
    display: inline-table;
  }
}
